# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv
.env

# Logs
logs
*.log
*.out

# Docker
*.local
docker-compose.override.yml

# Mongo/Redis (local DB volumes if mounted in future)
dump.rdb
*.pid
*.sock
data/
